
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-google{
  background-color: #b54c4c;
  color: #fff;
}
.btn-facebook{
  background-color: #4343ff;
  color: #fff;
}